<a href="https://colab.research.google.com/github/farshahid04/AHI-Diabetes-Data/blob/main/E2E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1: Setup and deploy EC2

Go to https://azure.microsoft.com/en-us/
To get started, go to the Virtual Machines service
Select: Create + Virtual Machine.
Create name, password, and select all needed preferences for machine.
Review and Create the Virtual Machine.
Remember to go to networking and add the MySQL inbound port rule: port 3306

Step 2: Accessing the Remote Machine via Terminal

Open terminal, type ssh (username for your instance)@(ip address for your instance) and then, enter in the password created.
After entering the remote machine, type in "sudo apt-get update".
To install mysql on the remote system, type "sudo apt install mysql-server mysql-client" once the new machine has been updated.
To access the mysql application through the terminal, use "sudo mysql" after it has been installed.
After entering, type "show databases" to see what data currently exists
Create a new mysql user to connect with, by typing "CREATE USER 'faryal'@'%' IDENTIFIED BY ‘PASSWORD’;
In order to grant this new user privileges, type "GRANT ALL PRIVILEGES ON . TO 'USERNAME'@'%' WITH GRANT OPTION;
Create a new database by typing "create database tempdata;" and confirm the database was made by typing "show databases;"

Step 3: Connect to the SQL Instance using Jupyter Notebook or Python

Import needed packages

In [1]:
from sqlalchemy import create_engine
import sqlalchemy
import pandas as pd 
import io
import pandas as pd
!sudo apt-get install python3-dev default-libmysqlclient-dev
!pip install pymysql
!pip install pymysql
!pip install cryptography

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.4).
default-libmysqlclient-dev set to manually installed.
python3-dev is already the newest version (3.6.7-1~18.04).
python3-dev set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 37 not upgraded.
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.0 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 5.2 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.21)
Installing collected packages: cryptography
Successfully installed cryptography-36.0.1

In [2]:
from sqlalchemy import create_engine
import sqlalchemy

**Connect to SQL instance**

In [3]:
!sudo apt-get install python3-dev default-libmysqlclient-dev
!pip install pymysql

from sqlalchemy import create_engine
import sqlalchemy

import pandas as pd

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.4).
python3-dev is already the newest version (3.6.7-1~18.04).
0 upgraded, 0 newly installed, 0 to remove and 37 not upgraded.
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [11]:
MYSQL_HOSTNAME = '137.117.106.69' 
MYSQL_USER = 'Faryal'
MYSQL_PASSWORD = '(ahi2021)'
MYSQL_DATABASE = 'e2e'

connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}:3306/{MYSQL_DATABASE}'
engine = create_engine(connection_string)

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_DataSci_507/main/Datasets/Diabetes/DB1_Diabetes/diabetic_data.csv')

In [8]:
TABLENAME = 'db1'

In [ ]:
df.to_sql(TABLENAME, con=engine)

In [14]:
pip install cryptography

Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (36.0.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.21)

In [15]:
print(engine.table_names)

<bound method Engine.table_names of Engine(mysql+pymysql://Faryal:***@137.117.106.69:3306/e2e)>

step 4 Fix Connection Error

After running code in Jupyter Notebook, return to terminal and enter "sudo nano /etc/mysql/mysql.conf.d/mysqld.cnf" to fix configurations for the sql instance.
Next, type in "/etc/init.d/mysql restart" to restart mysql within the virtual machine
Re-run the code in Jupyter Notebook and the csv file will be found within the created database as a table.

Step 5: Create a backup of SQL file

Create a 2nd instance in Microsoft Azure's Virtual Machine service.
Run the new instance
Return to the 1st instance and type "sudo mysqldump -- all databases> dump.sql".
Type "ls" to confirm that the file has been saved.
Log in to the 2nd instance. Create a copy of the sql dump file: type "scp dump.sql USERNAME@2ND IP ADDRESS:/home/USERNAME
Enter and type in password
Enter "ls" to confirm that the backup sql file was created in the 2nd instance.

In [ ]:
show databases;
use tempdata1;
delimiter $$
CREATE TRIGGER d1d2_concern_trigger_warning BEFORE INSERT ON H1N1 FOR EACH ROW
BEGIN 
IF NEW.d1s2_concern >3 THEN 
SIGNAL SQLSTATE '45000'
SET MESSAGE_TEXT ='ERROR: H1N1 CONCERN SHOULD BE A NUMERICAL VALUE BETWEEN 0 AND 3. PLEASE TRY AGAIN' 
;END IF; 
END $$

In [ ]:
INSERT INTO d1d2 (d1d2_concern) VALUES